body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.375; /* 22 / 16 */
    font-family: 'Quattrocento Sans', Arial, sans-serif;
}

h1 {
    font-size: 1.75em; /* 28 / 16 */
    margin: 0.714285714em 0; /* 20 / 28 */
}

p {
    margin: 1.25em 0; /* 20 / 16 */
}

a {
    color: #000;
}

[role="banner"] h1 {
    font-size: 1.5em;
    line-height: 1.285714286em; /* 36 / 28 */
}

[role="banner"] img {
    vertical-align: middle;
    width: 1.285714286em; /* 36 / 28 */
    height: 1.285714286em; /* 36 / 28 */
    margin-right: 0.642857143em; /* 18 / 28 */
}

.theme-dark {
    background: #000;
    color: #fff;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 1em;
}

.token {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    padding: 3px 5px 2px;
    font-size: .75em; /* 12 / 16 */
    line-height: 1;
    color: #fff;
    background: #666;
    border-radius: 2px;
}

.post-label {
    font-size: 1em;
}

.post-content h1 {
    margin: 1.142857143em 0 0.714285714em; /* 32 / 28, 20 / 28 */
    padding-top: 1em;
    border-top: 1px solid #ccc;
}

.post-content h1:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
}

.post-nav {
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
}

.post-nav-label {
    margin-top: 0;
}

/*.post-history {
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
}*/

/*.post-history-label {
    font-size: 1em;
}*/

.post-history {
    font-size: 1em; /* 16 */
    background: #eee;
}

.post-history .wrapper {
    padding: 1em;
}

.post-history-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.post-history-list_item {
    display: none;
    margin: 0;
    padding: 0.75em 0; /* 12 / 16 */
}

.post-history-list_item:first-child {
    display: block;
    padding-top: 0;
}

.post-history-list_item + .post-history-list_item {
    border-top: 1px solid #fff;
}

.post-history-more {
    margin: 0;
    text-align: right;
    font-size: .75em; /* 12 / 16 */
}

.post-history-date {
    margin-right: 6px;
}

.post-history-latest-label {
    margin-right: -3px;
    background: #000;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.post-history-latest-label + .post-history-date {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*.post-history-date-month-day,
.post-history-date-year {
    
}*/

@media screen and (min-width: 48em) { /* 768 / 30 */

    .wrapper {
        padding: 2em;
    }

    .post-history .wrapper {
        padding: 1em 2em;
    }

    .post {
        display: inline-block;
        vertical-align: top;
        width: 70%;
        margin-right: 4.9%;
    }

    .post-nav {
        display: inline-block;
        vertical-align: top;
        width: 25%;
        margin: 0 0 0 -4px;
        padding: 0;
        border: 0;
    }

}
